/* gamePlayer */
  .gamePlayer {
    width: 300px;
    height: auto;
    align: center;
    margin: 0 auto;
  }
    .gamePlayer > .p1 {
      font-size: 2em;
      font-weight: 10em;
      padding: 0.5em 0.5em;
      float: left;
      color: inherit;
      cursor: pointer;
      outline: none;
    }

    .gamePlayer > .p2 {
      font-size: 2em;
      font-weight: 10em;
      padding: 0.5em 0.5em;
      float: right;
      color: inherit;
      cursor: pointer;
      outline: none;
    }


/* gameBox */
  .gameBox {
    position: inherit;
    background-color: #202020;
    max-width: inherit;
    padding: 1em 1em;
    margin: 0 37.3%;
  }
    @media screen and (max-width: 1680px) {

        .gameBox {
          margin: 0 37.3%;
        }

      }

      @media screen and (max-width: 1280px) {

        .gameBox {
          margin: 0 32.3%;
        }

      }

      @media screen and (max-width: 736px) {

        .gameBox {
          margin: 0 auto;
        }

      }

/* gameBoard */
  .gameBoard {
    padding: 1em 1em;
    max-width: 400px;
    height: 400px;
    align: center;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
      @media screen and (max-width: 1680px) {

        .gameBoard {
          width: 100%;
        }

      }

      @media screen and (max-width: 1280px) {

        .gameBoard {
          width: 100%;
        }

      }

      @media screen and (max-width: 736px) {

        .gameBoard {
          width: 300px;
          height:300px;
        }

      }

/* gameContent */

  .gameContent {
    position: relative;
  }

    .gameContent > .inner {
      padding: 5em 5em 3em 5em ;
      max-width: 100%;
    }

      @media screen and (max-width: 1680px) {

        .gameContent > .inner {
          padding: 4em 4em 2em 4em ;
        }

      }

      @media screen and (max-width: 1280px) {

        .gameContent > .inner {
          width: 100%;
        }

      }

      @media screen and (max-width: 736px) {

        .gameContent > .inner {
          padding: 3em 2em 1em 2em ;
          width: 100%;
        }

      }

    .gameContent.alt {
      background-color: #261c3e;
    }

    .gameContent.style1 {
      background-color: #212529;
    }

    .gameContent.style1-alt {
      background-color: #493382;
    }

    .gameContent.style2 {
      background-color: #33383d;
    }

    .gameContent.style2-alt {
      background-color: #3e4094;
    }

    .gameContent.style3 {
      background-color: #b74e91;
    }

    .gameContent.style3-alt {
      background-color: #953d75;
    }

    .gameContent.fullscreen {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      text-align: center;
      min-height: 100vh;
    }

      body.is-ie .gameContent.fullscreen {
        height: 100vh;
      }

      @media screen and (max-width: 1280px) {

        .gameContent.fullscreen {
        }

          body.is-ie .gameContent.fullscreen {
          }

      }

      @media screen and (max-width: 736px) {

        .gameContent.fullscreen {
          padding: 4em 0;
        }

          body.is-ie .gameContent.fullscreen {
            height: auto;
          }

      }

    .gameContent.fade-up > .inner {
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: opacity 1s ease, -moz-transform 1s ease;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      -ms-transition: opacity 1s ease, -ms-transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1.0;
    }

    .gameContent.fade-up.inactive > .inner, body.is-preload .gameContent.fade-up > .inner {
      opacity: 0;
      -moz-transform: translateY(1em);
      -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
      transform: translateY(1em);
    }

    .gameContent.fade-down > .inner {
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: opacity 1s ease, -moz-transform 1s ease;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      -ms-transition: opacity 1s ease, -ms-transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1.0;
    }

    .gameContent.fade-down.inactive > .inner, body.is-preload .gameContent.fade-down > .inner {
      opacity: 0;
      -moz-transform: translateY(-1em);
      -webkit-transform: translateY(-1em);
      -ms-transform: translateY(-1em);
      transform: translateY(-1em);
    }

    .gameContent.fade > .inner {
      -moz-transition: opacity 1s ease;
      -webkit-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      transition: opacity 1s ease;
      opacity: 1.0;
    }

    .gameContent.fade.inactive > .inner, body.is-preload .gameContent.fade > .inner {
      opacity: 0;
    }